<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3 class="listing-title">
                <%= listing.title %>
            </h3>
        </div>

        <div class="card col-6 offset-3 show-card listing-card glass-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">Owned by <i>
                        <%= listing.owner.username %>
                    </i></p>
                <p class="card-text">
                    <%= listing.description %>
                </p>
                <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %>
                </p>
                <p class="card-text">
                    <%= listing.location %>
                </p>
                <p class="card-text">
                    <%= listing.country %>
                </p>
            </div>
        </div>

        <% if(currentUser && listing.owner._id.equals(currentUser._id)) { %>
            <div class="btns mb-3 d-flex col-6 offset-3 mt-3">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary col-2 offset-3 me-3">Edit</a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-dark offset-5">Delete</button>
                </form>
            </div>
            <% } %>

                <div class="col-8 offset-2 mb-3">
                    <% if(currentUser) { %>
                        <hr>
                        <h4>Leave a Review</h4>
                        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate
                            class="needs-validation">
                            <div class="mb-3 mt-3">
                                <label for="rating" class="form-label">Rating</label>
                                <fieldset class="starability-slot">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                        value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="comment" class="form-label">Comments</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                                    required></textarea>
                            </div>
                            <button class="btn btn-outline-dark">Submit</button>
                        </form>
                        <% } %>

                            <% if (listing.reviews.length> 0) { %>
                                <hr>
                                <div class="row">
                                    <p><b>All Reviews</b></p>
                                    <% for(review of listing.reviews) { %>
                                        <div class="card col-5 ms-3 mb-3 p-3 review-card glass-card">
                                            <div class="card-body">
                                                <h5 class="card-title">@<%= review.author.username %>
                                                </h5>
                                                <p class="card-text">
                                                    <%= review.comment %>
                                                </p>
                                                <p class="starability-result card-text"
                                                    data-rating="<%= review.rating %>"></p>
                                                <small>(Rating: <%= review.rating %>)</small>
                                            </div>
                                            <% if(currentUser && review.author._id.equals(currentUser._id)) { %>
                                                <form class="mb-3" method="POST"
                                                    action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                                    <button class="btn btn-sm btn-dark mt-2">Delete</button>
                                                </form>
                                                <% } %>
                                        </div>
                                        <% } %>
                                </div>
                                <% } %>
                </div>
    </div>
    </div>
    <div class="col-8 offset-2 mb-3">
        <h3>Where you'll be</h3>
        <div id="map" style="height: 400px; width: 100%;"></div>
    </div>
    <!-- 
    <script>
        const map = L.map('map').setView(<% - JSON.stringify(listing.geometry.coordinates).length ? JSON.stringify([listing.geometry.coordinates[1], listing.geometry.coordinates[0]]) : "[20.5937, 78.9629]" %>, 9);

        L.marker(<% - JSON.stringify(listing.geometry.coordinates).length ? JSON.stringify([listing.geometry.coordinates[1], listing.geometry.coordinates[0]]) : "[20.5937, 78.9629]" %>).addTo(map)
    </script> -->